<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAXNOsiKeMAQxkpkoBM8fKc76kUi8uUDAk</string>
	<key>GCM_SENDER_ID</key>
	<string>345916142601</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mycompany.resipsa</string>
	<key>PROJECT_ID</key>
	<string>res-ipsa-pdl5i3</string>
	<key>STORAGE_BUCKET</key>
	<string>res-ipsa-pdl5i3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:345916142601:ios:e1091bd1924c9b263474d8</string>
</dict>
</plist>